@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 3% 10%;
  background-image: linear-gradient(to right, rgba(255, 166, 0, 0), rgb(255, 162, 118));
}

h1 {
  text-align: center;
}

.App * {
  box-sizing: border-box;
}

li {
  padding: 1%;
}

ul {
  padding: 0;
  list-style: none;
}

input[type='text'],
input[type='number'] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 300px;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 4px;
  position: relative;
}

button{
  background-color: rgb(172, 133, 133);
  font-weight: bold;
  color: black;
}